.remont {
}

.remont h2 {
	text-align: center;
	padding: 10px;
	color: #ffdbb7;
	height: 60px;
	/*color: #fff;*/
}

.remont ul {
	/*margin-top: 40px;*/
}

.remont .design__element {
	height: 640px;
	width: 280px !important;
}

.remont .design__list {
    list-style: none;
    position: relative;
    left: 0%;
    top: 0%;
    -webkit-transform: none;
    transform: none;
    margin-left: 30px;
}

.remont .design__item {
    width: 240px;
	word-wrap: break-word;
	font-size: 16px;
	white-space: normal;
	margin-bottom: 10px;
	line-height: 16px;
}

.remont .btn {
	width: 220px;
}